<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1> ❣️ 어고다 ❣️ </h1>
<button onclick="location.href='/accommodation/list'">숙소 전체 목록</button><!--전체 조회-->
<button onclick="location.href='/accommodation/3'">이번달 특가 호텔!</button><!--선택 조회-->
<button onclick="location.href='/accommodation/reservation'">숙소 예약</button><!--등록-->
<button onclick="location.href='/accommodation/reservation'">예약 변경</button><!--수정-->
<button onclick="location.href='/accommodation/reservation'">예약 취소</button><!--삭제-->
<br>
<img src="image/image.png">
<!--<button onclick="location.href='/accommodation/review'">숙소 평점 등록</button>-->
</body>
</html>