<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>event</title>
</head>
<body>
<table>
    <tr>
        <th>이름</th>
        <th>원가</th>
        <th>할인율</th>
        <th>이벤트 가격</th>
        <th>위치</th>
        <th>평점</th>
    </tr>
    <tr>
        <td th:text="${eventAccommodation.accommodationName}"></td>
        <td th:text="${eventAccommodation.accommodationPrice}"></td>
        <td th:text="${eventAccommodation.discountRate}"></td>
        <td th:text="${eventAccommodation.eventPrice}"></td>
        <td th:text="${eventAccommodation.accommodationAddress}"></td>
        <td th:text="${eventAccommodation.grade}"></td>
    </tr>
</table>
</body>
</html>